.searchProduct{
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    position : relative;
    bottom : 45px;
}

.menu2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 10px;
    top: -90px;
    left: 250px;
    z-index: 99;
}

.menu2 button svg{
    font-size: 50px;
}

.menu3  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 100px;
    float: right;
    top: -185px;
    right: 250px;
    z-index: 99;
}

.menu3 a {
    color : black;
    padding : 5px;
}

.menu3 a:hover {
    color : #797979d0;
}